/*
  input boxes
  buttons
*/
body {
  background: url(/Users/pwrmvs/hrext09-my-cruddy-app/Clouds-wallpaper-HD-background.jpg) no-repeat center center fixed;
  background-size: cover;
  /* background-repeat: no-repeat; */
  
}

h1 {
font-family: monospace;
display: flex;
justify-content: center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
font-size: 38px; 
color:#99ff66;
overflow: hidden; 
white-space: nowrap; 
margin: 100px auto 50px;
animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.summary {
  text-align: center;
}

h3 {
  font-family: monospace;
  color:#99ff66;;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 575px;
  display: inline-block;
  font-size: 1.75em;
  margin-bottom: 50px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  font-family: monospace;
  color:#99ff66;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}

#class {
  font-family: monospace;
  color:#99ff66;;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.5em
}

#keyInput {
  width: 19.5%;
  margin: 7px auto 7px auto;
  text-align: center;
  height: 20px;
  border-radius: 7px;
  font-family: monospace;
}

#valueInput {
  width: 19.5%;
  margin: 7px auto 7px auto;
  text-align: center;
  height: 20px;
  border-radius: 7px;
  font-family: monospace;
}

#name {
  width: 17%;
  margin: 7px auto 7px auto;
  text-align: center;
  height: 20px;
  border-radius: 7px;
  font-family: monospace;
  font-size: 1.3em;
} 

#weight {
  width: 25.5%;
  margin: 7px auto 7px auto;
  text-align: center;
  height: 20px;
  border-radius: 7px;
  font-family: monospace;
  font-size: 1.3em;
} 

#height {
  width: 27%;
  margin: 7px auto 7px auto;
  text-align: center;
  height: 20px;
  border-radius: 7px;
  font-family: monospace;
  font-size: 1.3em;
} 

#waist {
  width: 33.5%;
  margin: 7px auto 7px auto;
  text-align: center;
  height: 20px;
  border-radius: 7px;
  font-family: monospace;
  font-size: 1.3em;
} 

#neck {
  width: 32.5%;
  margin: 7px auto 7px auto;
  text-align: center;
  height: 20px;
  border-radius: 7px;
  font-family: monospace;
  font-size: 1.3em;
} 

#dropDown {
  font-family: monospace;
  margin: 7px auto 7px auto;
  font-size: 1.75em;
  color: #ffc800;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#genderDropDown {
  width: 25%;
  margin: 7px auto 5px auto;
  font-family: monospace;
  font-size: 18px;
}

#hip {
  width: 32.5%;
  margin: 7px auto 7px auto;
  text-align: center;
  height: 20px;
  border-radius: 7px;
  font-family: monospace;
  font-size: 1.3em;
}

#buttonsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: blue;
  margin: 1px; */
  position: relative;
  
}

#calculateButton {
  background-color: lightgoldenrodyellow;
  margin: 7px auto 7px auto;
  border-radius: 7px;
  font-size: 1em;
  height: 37.5px;
  font-family: monospace;
  cursor: pointer;
}

#createButton {
  background-color: lightgray;
  margin: 7px auto 7px auto;
  border-radius: 7px;
  font-size: 1em;
  height: 37.5px;
  font-family: monospace;
  cursor: pointer;
}

#updateButton {
  background-color: lightpink;
  margin: 3.5px auto 3.5px auto;
  border-radius: 7px;
  font-size: 1em;
  height: 37.5px;
  font-family: monospace;
  cursor: pointer;
}

#deleteButton {
  background-color: lightsteelblue;
  margin: 7px auto;
  border-radius: 7px;
  font-size: 1em;
  height: 37.5px;
  font-family: monospace;
  cursor: pointer;
}

#footer {
  font-family: monospace;
  color:#99ff66;;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: inline-block;
  font-size: 1.75em;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;

}

/* Popup container */
.popup {
  position: relative;
  /* display: inline-block; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  height: 300px;
  background-color: rgb(55, 164, 162);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(55, 164, 162) transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

a {
  color: #1affff;
}